@charset: "utf-8";

body {
	width: 90%;
	height: 100%;
	margin-left: 4%;	
	/*background-color: orange;*/
}

header{
	margin: auto;
	width: 1100px;
}

#menu_gral{	
	width: 100%;
	margin: 1rem auto;
}

#menu_gral ul {
	list-style-type: none;
	text-align: center;
	font-size: 0;
}

#menu_gral > ul li {
	display: inline-block;
	width: 15%;
	position: relative;
	background: #AEAEAE; /*color menu*/
}

#menu_gral li a {
	text-decoration: none;
	font-size: 1rem;
	color: blue; /*Color letras menu*/
	display: block;
	line-height: 2.5rem;
}

#menu_gral li a:hover,
#menu_gral li a:focus {
	background:  #444; /*color a ponerse sobre el menu*/
	color: #fff; /*color letra al colocarse sobre el menú*/
}

#menu_gral li ul {
	position: absolute;
	width: 0;
	overflow: hidden;
}

#menu_gral li li {
	display: block;
	width: 100%;	
}

#menu_gral li:hover li a,
#menu_gral li:focus li a {
	display: block;
	font-family: monospace;
	font-size: .9rem;
	line-height: 1.7rem;
/*	border-top: 1px solid #e5e5e5; /*color del borde del despegable*/
	background:  #444;	
	color: #FFF;
}

#menu_gral li li a:hover,
#menu_gral li li a:focus {
	background:  #8AA9B8;	
}

#menu_gral li:hover ul,
#menu_gral li:focus ul {
	width: 100%;
	z-index: 5;
	margin: 0 -4rem -4rem -4rem;
	padding: 0 4rem 4rem 4rem;
	
}

.btnsBarra {
	color: blue;
	font-size: 1rem;
	background: transparent;
	border: none;
}

.btn {
	color: #FFF;
	background: transparent;
	border-style: none;
}

div {
	/*float: left;*/
	position: absolute;
	margin: 2% 4% 4% 2%;
	/*background-color: yellow;*/
	width: 90%;
	height: 600px;
}

table .primera_fila{
	font-size:1rem;	
	background-color:#C0C0C0;
	width: 50px;

}

footer{
	position: absolute;	
	height: 10%;
	width: 90%;
	margin: 45% 5% 5% 2%;
	/*background-color: gold;*/
	text-align: center;
	color: blue;
}