<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portal JobsNetworks</title>
	<link rel="icon" type="image/jpeg" sizes="16x16" href="view/images/goku1.jpeg">
	<link rel="stylesheet" type="text/css" href="view/css/portada.css">
</head>
<body>
	<header>
		<table>
			<tr>
				<td>
					<h1>LA ERA DEL SABER BUSCAR</h1>
				</td>
				<td class="boton_login">
					<!--<input class="login" type="button" onclick="location.href='view/v_login.php'" name="login" value="Login">-->
					<input class="login" type="button" onclick="location.href='controller/c_check.php'" name="login" value="Login">
				</td>
				<td class="boton_registrar">
					<!--<a href="view/v_registrar.php" target="_blank"><input type="button" name="registrar" value="Registrar"></a>-->
					<a href="controller/c_registrar.php" target="_blank"><input type="button" name="registrar" value="Registrar"></a>
				</td>

			
			</tr>
		</table>
		<hr>
	</header>
	<div>
		<img src="view/images/Elefantes.jpg" alt="Elefante" width="100%" height="100%">
	</div>

	<footer>
		<hr>
		<p>Sevilla 2017 - Proyecto Fin de Ciclo - JobsNetworks</p>
	</footer>
	
</body>
</html>